**/.quarto/
/_site*/
**/*.quarto_ipynb
**/*.rmarkdown
**/mathjax-config.js
exercises/**/*.typ
exercises/**/*.html
exercises/**/*_files/
exercises/**/*.pdf
!exercises/**/charte-starwars.pdf

/.quarto/

/.luarc.json
